* {
    margin: 0;
    padding: 0;
  }

.header 
{
    min-height: 100vh;
    width: 100%;
    /* background-image:url("/images/greenjpg.jpg") ;
    background-position: center;
    background-size: cover;
    position: relative;  */
}
nav{
  background-color: rgb(2, 34, 2);
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 100px;
}
.nav-links{
  flex:1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #000;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}

.home {
  display: flex;
}
.image{
  width: 50%;
}
.text{
  text-align: center;
  margin-top: 200px;
  margin-right: 20px;
  font-size: large;
}
.btn:hover{
  background: rgb(226, 233, 227);
  font-size: 150%;
}
.about{
  display: flex;
}
.about_image{
  width: 50%;
  height: 10;
}
.about_text{
  text-align: center;
  /* margin-top: 100px;
  margin-right: 20px; */
  font-size: large;
}
.btn:hover{
  background: rgb(226, 233, 227);
  font-size: 150%;
}
.product{
  font-size: 35px;
  text-align: center;
  justify-content: center;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  width:270px;
  height: 400px;
  margin: 10px;
  border-radius: 15px;
}
.card-image{
  height: 250px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}
.vase-1{
  background-image: url(/images/vase1.jpg);
}
.vase-2{
  background-image: url(/images/vase2.jpg);
}
.vase-3{
  background-image: url(/images/vase\ 3.jpg);
}
.card:hover{
  background-color: grey;
  color: #fff;
  cursor: pointer;
  transform: scale(1.03);
  transition: all is ease-in;
}
.review{
  font-size: 35px;
  text-align: center;
  justify-content: center;
}

.review-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.review-card{
  width:270px;
  height: 400px;
  margin: 10px;
  border-radius: 15px;
}
.review-card-image{
  height: 250px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}
.pic-1{
  background-image: url(/images/person.jpg);
}
.pic-2{
  background-image: url(/images/person.jpg);
}
.pic-3{
  background-image: url(/images/person.jpg);
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap:2rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color:var(--black);
  padding: 1rem 0;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  color:var(--light-color);
  padding: 1rem 0;
}

.footer .box-container .box a i{
  padding-right: .5rem;
  color:var(--green);
}

.footer .box-container .box a:hover i{
  padding-right:2rem;
}

.footer .credit{
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color:var(--light-color);
  border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
  color:var(--green);
}


/* media queries  */
@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding: 2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: initial;
  }

  .header .navbar{
      position: absolute;
      top:115%; right: 2rem;
      border-radius: .5rem;
      box-shadow: var(--box-shadow);
      width: 30rem;
      border: var(--border);
      background: #fff;
      transform: scale(0);
      opacity: 0;
      transform-origin: top right;
      transition: none;
  }

  .header .navbar.active{
      transform: scale(1);
      opacity: 1;
      transition: .2s ease-out;
  }

  .header .navbar a{
      font-size: 2rem;
      display: block;
      margin:2.5rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

}

